<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="reset.css">
    <link rel="stylesheet" type="text/css" href="base.css">
    <link rel="stylesheet" type="text/css" href="layout.css">
    <link rel="stylesheet" type="text/css" href="modules.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"rel="stylesheet" type="text/css" />
</head>
<body>
<header>
    <div th:replace="fragments/navbar :: navbar(${userFirstName}, ${isLoggedIn}, ${currentPage})"></div>
</header>


<div class="appUserEdit mt">
    <h3 class="text-center">User Settings</h3>
    <form th:method="PUT" action="/settings" class="appusersettings-form">
        <div class="form-group">
            <label for="firstname">First Name</label><input th:value="${appuser.firstName}" name="firstname" id="firstname" class="form-control" required/>
        </div>
        <div class="form-group">
            <label for="lastname">Last Name</label><input th:value="${appuser.lastName}" name="lastname" id="lastname" class="form-control" required/>
        </div>
        <div class="form-group">
            <label for="email">Email</label><input th:value="${appuser.email}" type="email" name="email" id="email" class="form-control" required/>
        </div>
        <div class="form-group">
            <label for="phone">Mobile Phone Number</label><input th:value="${appuser.phone}" type="tel" name="phone" id="phone" class="form-control" required/>
        </div>
        <div class="form-group">
            <label for="manager">Manager</label><input th:value="${appuser.managerName}" name="manager" id="manager" class="form-control" required/>
        </div>
        <button type="submit" class="btn btn-info">Submit</button>
    </form>


</body>
</html>