<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="reset.css">
    <link rel="stylesheet" type="text/css" href="base.css">
    <link rel="stylesheet" type="text/css" href="layout.css">
    <link rel="stylesheet" type="text/css" href="modules.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"rel="stylesheet" type="text/css" />
</head>
<body>
<header>
    <div th:replace="fragments/navbar :: navbar(${userFirstName}, ${isLoggedIn}, ${currentPage})"></div>
</header>



<div class="appUserEdit mt">
    <div th:if="${statusCode == 0}">
        Old Password does not match password on record!
    </div>
    <div th:if="${statusCode == 1}">
        New Password and Confirm New Password fields must match!
    </div>
    <div th:if="${statusCode == 2}">
        Password successfully changed!
    </div>

    <button><a class="nav-link" th:href="@{'/settings'}">Back to User Settings</a></button>
</div>






</body>
</html>